
<div class="container">
  <div class="jumbotron bg-light">
   // <h1 class="display-4">logo</h1>
  
    <p class="lead">image kosam </p>

    <hr class="my-4">

    <section class="card card-info text-white bg-dark mb-3">
      <div class="card-header">Demo</div>
      <section class="card-img-top">
        <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [playerVars]="playerVars">
        </youtube-player>

<section class="card-img-right">
  
</section>


      </section>
      <div class="card-body">
       
        
      </div>
    </section>
    <button
      type="button"
      class="btn btn-primary"
      (click)="playVideo()">
      Play
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="pauseVideo()">
      Pause
    </button>

    <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default">
      
      <button
      type="button"
      class="subscribe-label"
      (click)="SubcribeVideo()">
      Subscribe
    </button>
    </div>



  </div>
</div>

<div class="col-12">
  <section class="card card-success">
    <div class="card-body">
      <div class="card-title"></div>
      <pre></pre>
    </div>
  </section>
</div>





<html>
<head>
<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
 
  width: 100%;
  height: auto;
}

div.desc {
  padding: 25px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<script src="https://apis.google.com/js/platform.js"></script>

</head>
<body>

<h2></h2>
<h4></h4>

<div class="responsive">
  <div class="gallery">
  

       <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [playerVars]="playerVars">
        </youtube-player>
        
   
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    
    <youtube-player
    [videoId]="id1"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" src="qDuKsiwS5xw">
     
      <youtube-player
      [videoId]="id2"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      [playerVars]="playerVars">
    </youtube-player>
    

    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id3"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id4"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id5"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id4"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id6"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id7"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id6"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id8"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id6"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>





<div class="clearfix"></div>

<div style="padding:6px;">

</div>

</body>
</html>


<!-- <html>
<head>
<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
 
  width: 100%;
  height: auto;
}

div.desc {
  padding: 25px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Responsive Image Gallery</h2>
<h4>Resize the browser window to see the effect.</h4>

<div class="responsive">
  <div class="gallery">
  

       <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [playerVars]="playerVars">
        </youtube-player>
        
   
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    
    <youtube-player
    [videoId]="id1"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" src="qDuKsiwS5xw">
     
      <youtube-player
      [videoId]="id2"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      [playerVars]="playerVars">
    </youtube-player>
    

    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
     
    <youtube-player
    [videoId]="id3"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>
  
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">

</div>

</body>
</html> -->







